
 body {
    font-family: Arial, sans-serif;
    background-color: #f7f7f7;
    margin: 0;
    padding: 0;
    text-align: center;
}

/* NAVIGATION BAR */
.navbar {
    background-color: white;
    padding: 15px;
    display: flex;
    justify-content: center;
    gap: 30px;
    border-bottom: 1px solid #ccc;
    position: sticky;
    top: 0;
}

.navbar a {
    text-decoration: none;
    font-size: 18px;
    color: black;
    font-weight: bold;
}

.navbar a:hover {
    text-decoration: underline;
}

.main-title {
    margin-top: 30px;
    font-size: 36px;
    font-weight: bold;
}

.button-container {
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;
}

.nav-button {
    width: 280px;
    padding: 15px;
    border: 2px solid black;
    border-radius: 8px;
    background-color: white;
    text-decoration: none;
    color: black;
    font-size: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
}

.nav-button img {
    width: 100%;
    height: 160px;
    object-fit: cover;
    border-radius: 6px;
}

.nav-button:hover {
    background-color: #ececec;
}
